<h1>Stupid Coaching</h1>


<div>
<%= @test %>
<p><strong>-You</strong></p>
</div>

<br>

<div id= "response">
<%= @response %>
<p><strong>-Your coach</strong></p>
</div>

<div>
<%= link_to "Ask another question", "/ask" %>
</div>
