<h1>Questions#ask</h1>

<div class="form-group">
  <form action="/answer">
    <input type="text" name="question" placeholder="What you want to ask?" class="form-control">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
